body {
background-image: url("afbeeldingen/achtergrond_blauw.jfif");
height: 100%;
background-position: center;
background-size: cover;
color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 0px;
}

li a:hover {
    background-color: grey;
}

.active {
    background-color: #4CAF50;
}

.welkomTekst {
position:absolute;
left:38%;
top:30%;
}
